body{
    /* width: 100%; */
    /* height: auto; */
    background-image: url("tajmahal.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
     margin-top: 0%;
    /*padding-right: 5%; */
}
nav{
    /* width: 100%; */
    background-color: rgba(0,0,0,0.2); 
    color: wheat;display: flex;justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.logo{
    width: 25%;
    text-align: center;
    display: flex;justify-content: space-around;
}
.menu{
    width: 25%;
    text-align: center;
    justify-content: space-around;
    display: flex;
}
.menu a{
    width: 25%;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
main{
    /* width: 100%; */
    padding-top: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
section h3{  
font-size: 30px;
letter-spacing: 3px;
text-transform: uppercase;
text-shadow: 3px 5px 4px black;
margin-bottom: 0%;
}
section h1{
    font-size: 60px;
    letter-spacing: 3px;
    text-shadow: 5px 5px 11px black;
    margin-bottom: 0%;
    margin-top: 2%;
    font-weight: initial;
}
section p{
    font-size: 25px;
letter-spacing: 3px;
text-shadow: 3px 5px 4px black;
}
section .btnone{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background: white;
    color: blueviolet;
    font-size: 25px  ;
}
section .btntow{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background:darkcyan;
    color:black;
    font-weight: 600;
    font-size: 25px;
}
.change_content:after{
    content:'';
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content:"jaipur";}
    20%{content:"Rohtak";}
    30%{content: "Bhiwani";}
}
